{% extends "base_generic.html" %}

{% block content %}
<label>Displaying file name</label>
<input type="text" id="text_name" class="form-control">
<input type="file" id="files" class="form-control-file">
<button id="upload" class="btn">Upload</button>

<script>
    var name_fild = document.getElementById('text_name')
    var uploadBtn = document.getElementById('upload')
    var fileInput = document.getElementById('files')

    uploadBtn.onclick = function (evt) {
        var file = fileInput.files[0];
        var visible_name = name_fild.value;
        var upload_link = "{% url 'get_upload_link' %}";
        upload_link += "?file_name=" + fileInput.files[0].name;
        upload_link += '&' + "visible_name=" + visible_name;

        fetch(upload_link, {credentials: 'include',}).then(res => res.text()).then(MinIoUrl => {
            fetch(MinIoUrl, {
                method: 'PUT',
                body: file,
            });
        })
    }
</script>
{% endblock %}