{% extends "base_generic.html" %}
{% block title %}<title>{{page_title}}</title>{% endblock %}
{% block content %}
<h1>{{page_title}}</h1>
<table class="table">
    <tr>
        <td>ID</td>
        <td>Дата внесения в систему</td>
        <td>{{ form.check_date.help_text }}</td>
    </tr>
    {% for copies in ecg_list %}
    <tr>
        <td><a href="{{copies.get_absolute_url}}">{{copies.id}}</a></td>
        <td>{{copies.add_date}}</td>
        <td>{{copies.check_date}}</td>
    </tr>
    {% endfor %}
</table>
{% endblock %}