{% extends "base_generic.html" %}
{% block title %}<title>{{page_title}}</title>{% endblock %}
{% block content %}
<h1>{{page_title}}</h1>
<form action="" method="post">
    {% csrf_token %}
    {% load widget_tweaks %}
    <div class="form-group">
        {{ form.ecg_id.label_tag }}
        {% render_field form.ecg_id class+="form-control" %}
        {{ form.ecg_id.errors }}
    </div>
    <div class="form-group">
        {{ form.sample_frequency.label_tag }}
        {% render_field form.sample_frequency class+="form-control" %}
        {{ form.sample_frequency.errors }}
    </div>
    <div class="form-group">
        {{ form.amplitude_resolution.label_tag }}
        {% render_field form.amplitude_resolution class+="form-control" %}
        {{ form.amplitude_resolution.errors }}
    </div>
    <div class="form-group">
        {{ form.original_name.label_tag }}
        {% render_field form.original_name class+="form-control" %}
        {{ form.original_name.errors }}
    </div>
    <button type="submit" id="check_and_upload" class="btn btn-primary">Отправить</button>
</form>
{% endblock %}