{% extends "base_generic.html" %}
{% block title %}<title>{{page_title}}</title>
<script src="https://cdn.jsdelivr.net/npm/axios@0.21.1/dist/axios.min.js" integrity="sha256-JLmknTdUZeZZ267LP9qB+/DT7tvxOOKctSKeUC2KT6E=" crossorigin="anonymous" defer></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/crypto-js/4.0.0/core.min.js" integrity="sha512-PQsdzDthPKtp230uD7lunTQw6CwNTPnd5LP3e3/+afg9cNkrL7UsfWXT3EW5Ar9XZ5SdADcPDXs1BAWNa9OZ7Q==" crossorigin="anonymous" defer></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/crypto-js/4.0.0/sha1.min.js" integrity="sha512-i19qg3d5yHSYVRQizhWLdZCvkenhD2RGY8QZtGhKgw+nu8b7Urndqpov9LwQWeZsIECGjaU0BW9k8lZc5V61uA==" crossorigin="anonymous" defer></script>
{% load static %}
<script type="text/javascript">
var api_upload_url = "{% url 'json_file_add' %}";
</script>
<script src="{% static 'js/file_upload.js' %}" defer></script>
{% endblock %}
{% block content %}
<h1>{{page_title}}</h1>
<form id="ecg_upload_form">
    {% csrf_token %}
    {% load widget_tweaks %}
    <div class="form-group">
        {{ form.ecg_id_field.label_tag }}
        {% render_field form.ecg_id_field class+="form-control" %}
        <ul id="ecg_id_error_list" class="errorlist">
        </ul>
    </div>
    <div class="form-group">
        {{ form.sample_frequency_field.label_tag }}
        {% render_field form.sample_frequency_field class+="form-control" %}
        <ul id="sample_frequency_error_list" class="errorlist">
        </ul>
    </div>
    <div class="form-group">
        {{ form.amplitude_resolution_field.label_tag }}
        {% render_field form.amplitude_resolution_field class+="form-control" %}
        <ul id="amplitude_resolution_error_list" class="errorlist">
        </ul>
    </div>
    <div class="form-group">
        <label for="ecg_file_select">Выбор файла</label>
        <input type="file" id="id_ecg_file_select" class="form-control-file mb-2" required>
        <ul id="ecg_file_error_list" class="errorlist">
        </ul>
        {% render_field form.file_hash class+="form-control" type+="hidden" %}
        {% render_field form.file_format class+="form-control" type+="hidden" %}
        {% render_field form.original_file_name class+="form-control" type+="hidden" %}
    </div>
    <button type="submit" id="check_and_upload" class="btn btn-primary">Загрузить</button>
</form>
{% endblock %}